<div class="main-view">
  <div class="jumbotron">
    <h1>No teams found...</h1>
    <p class="lead">
      It looks like you are not part of any teams in <a href="/" class="logo"><strong>feat</strong>ness</a>.
    </p>
    <p class="toolbar">
      <a class="btn btn-lg btn-success new-team"><span class="icon"><span class="first glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span></span> create a new team</a>
      <a class="btn btn-lg join-team"><span class="icon"><span class="first glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span></span> join an existing team</a>
    </p>
  </div>
</div>
