/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    opacity: 0.99;

    &:hover {
        opacity: 0.9;
    }
}
