.logo.small-logo {
  font-size: 100%;
  color: $dark-sand;
}

.footer {
  margin-top: 60px;

  p {
    text-align: center;
    font-size: 14px;
    color: $dark-gray;

    strong {
      color: $blue;
    }
  }
}
