.login-view {
  .jumbotron {
    width: 680px;
    margin: 15px auto;

    h1 {
      color: $dark-blue;
    }
  }

  a.logo {
    color: $dark-sand;
  }

  .login-buttons {
    font-size: 0;
    width: 283px;
    margin: 40px auto 0;

    li {
      display: inline-block;
      vertical-align: top;

      a {
        display: block;
        cursor: pointer;
      }

      .facebook {
        @include common-sprite(fb, $dimensions: true);
      }

      .gplus {
        margin-right: 25px;
        @include common-sprite(gplus, $dimensions: true);
      }
    }
  }
}
