.main-view {
    .jumbotron {
        margin-top: 20px;
    }

    .new-team {
        .icon {
            display: inline-block;
            vertical-align: top;
            margin-top: 2px;
            margin-right: 2px;

            .first {
                margin-right: -6px;
            }
        }
    }

    .logo {
        color: $dark-sand;
    }

    .toolbar {
        margin-top: 40px;
    }
}
